<h1>Mascotas</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Edad</th>
      <th>Raza</th>
      <th>Servicio</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mascota.each do |mascotum| %>
      <tr>
        <td><%= mascotum.nombre %></td>
        <td><%= mascotum.edad %></td>
        <td><%= mascotum.raza %></td>
        <td><%= mascotum.servicio.tratamiento %></td>
        <td><%= link_to 'Mostrar', mascotum %></td>
        <td><%= link_to 'Editar', edit_mascotum_path(mascotum) %></td>
        <td><%= link_to 'Eliminar', mascotum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva Mascota', new_mascotum_path %>
